<div {{bind-attr class=":introjs-overlay started"}}>
    <div class="introjs-helperLayer" {{bind-attr style=tourHelperLayerCss}}></div>
  {{#each tourStop in model.tourStops}}
    {{#tour-stop model=tourStop tourHelperLayerCss=tourHelperLayerCss windowWidth=windowWidth windowHeight=windowHeight scrollTop=scrollTop}}
        <div class="introjs-bullets" style="display:none;">
            <ul>
                <li><a class="active" href="javascript:void(0);" data-stepnumber="1">&nbsp;</a></li>
                <li><a href="javascript:void(0);" data-stepnumber="2">&nbsp;</a></li>
                <li><a href="javascript:void(0);" data-stepnumber="3">&nbsp;</a></li>
                <li><a href="javascript:void(0);" data-stepnumber="4">&nbsp;</a></li>
                <li><a href="javascript:void(0);" data-stepnumber="5">&nbsp;</a></li>
            </ul>
        </div>
        <div class="row tour-buttons">
            <div class="col-sm-4 btn-wrap">
                <div class="btn btn-white" {{action 'exit'}}>Skip</div>
            </div>
            <div class="col-sm-4 btn-wrap">
              {{#if moreBackwardSteps}}
                  <div class="btn btn-white" {{action 'reverse'}}>Back</div>
              {{/if}}
            </div>
            <div class="col-sm-4 btn-wrap">
              {{#if moreForwardSteps}}
                  <div class="btn btn-blue" {{action 'advance'}}>Next</div>
              {{/if}}
            </div>
        </div>
    {{/tour-stop}}
  {{/each}}
</div>
