<div {{bind-attr class=":ember-tour started"}}>
    <div {{bind-attr style=spotlightCSS class="spotlight"}}></div>
  {{#each tourStop in model.tourStops}}
    {{#tour-stop model=tourStop spotlightCSS=spotlightCSS windowWidth=windowWidth windowHeight=windowHeight scrollTop=scrollTop options=model.data}}
        <div {{bind-attr class=":tour-bullets showBullets"}}>
            <ul>
              {{#each tourStop in sortedTourStops}}
                  <li><a {{action 'goToStop' tourStop.id}} {{bind-attr class='tourStop.active'}}></a></li>
              {{/each}}
            </ul>
        </div>
        <div class="row tour-buttons">

          {{#if moreForwardSteps}}

            {{#if moreBackwardSteps}}
                <div class="col-sm-6">

                    <a class="icon-angle-double-left" {{action 'reverse'}}></a>
                </div>
            {{else}}
                <div class="col-sm-3"></div>
            {{/if}}
              <div class="col-sm-6">
                  <a class="icon-angle-double-right" {{action 'advance'}}></a>
              </div>
          {{else}}
              <div class="col-sm-12">
                  <a {{action 'exitTour'}}>Done</a>
              </div>
          {{/if}}

        </div>
    {{/tour-stop}}
  {{/each}}
</div>
