<div {{bind-attr class="active :tour-stop" style=targetOutlineCss}}>
    <div {{bind-attr class=":tour-arrow top right bottom left"}}></div>
    <div class="tour-tooltip" {{bind-attr style=tooltipCSS}}>
        <a class="tour-end tour-corner-circle" {{action 'exitTour'}}>×</a>
        {{#if options.showNumber}}
          <span class="tour-number tour-corner-circle">{{{stepNumber}}}</span>
        {{/if}}
        <div class="tour-body" {{bind-attr style=tourStopBodyCss}}>
            <div class="row">
                <div class="col-sm-12">
                  {{{model.intro}}}
                </div>
            </div>
          {{yield}}
        </div>
    </div>
</div>
